
 header {
    background-color: #025a70;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinhas Verticalmente*/
    justify-content: center; /* Alinhar Horizontalmente*/
}
