header {
    width: 100%;
    border-radius: 12px;
    
}
headerMusic {
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: end
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../../img/fundoMusic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.btnMusic {
    border-radius:12px;
    cursor: pointer;
    text-decoration: none;
    background-color: #025a70;
}
